body{
    background: rgb(197, 196, 196);  
    background-size:100% 100%;
    bottom:0px;
    top:0px;
    margin: 0px;
    position:absolute;
    width: 100%;
}
.main-section{
    bottom:0px;
    top:0px;
    margin: 0px;
    position:absolute;
    width: 100%;
}
.active, .navbar:hover {
    background-color: rgb(196, 195, 195);
    color: rgb(185, 184, 184);
}

.open-dialog
{
    border-radius: 3px
    margin: 10px
}

.confirmation-dialog
{
display: none
}

.user-login-header,.login-image-main{
    margin-top: 15px;
}
.user-login-header h1{
    font-size: 45px;
    color:#fff;
}
.user-login-header p,.last-part p{
    color:#c9c5c7;
}
.user-login-header span{
    color:#fff;
    font-weight: 600;
}
.login-image-main{
    padding: 30px;
    background-color:#fff;
    border-radius:5px;
    box-shadow: 0 0 5px 0 #fff;
}
.user-welcoming{
    padding:20px;
}
.user-login-box,.last-part{
    padding:20px;
}
.user-login-box button,.user-login-box button:hover{
    background: -webkit-linear-gradient(to right, rgb(218, 6, 150), rgb(3, 18, 114));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(218, 6, 150), rgb(3, 18, 114));
    width: 100%;
    color:#fff;
    font-weight:600;
}
.buttonlink{
    text-decoration: none;    
    background-color:#fff;
    width: 100%;
    font-weight:600;
}
.last-part a{
    text-decoration: none;
}
header {
    background: white;
    padding: 2em;
    text-align: left;
}
footer {
    padding: 5em;
    color: rgb(204, 200, 200);
    background-color: rgb(255, 255, 255);
    clear: left;
    text-align: left;
}