<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/custom.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <script src="lib/angular.min.js"></script>                 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
    <script src="lib/workorder.js"></script>
    <body style="background-color:rgb(255, 255, 255);">
        <div class="container main-section" ng-app="App" ng-controller="Controller">
            <header>
                <div class="row">
                   <div class="col-md-12 col-sm-12 col-xs-12 ">
                        <img src="images/altus-logo-workorder.png" hspace="20">    
                    </div>     
                    <div class="col-md-12 col-sm-12 col-xs-12 ">                                
                        <img src="images/grundig-logo-workorder.png">  
                    </div>                             
                </div>
            </header>                            
            <nav class="navbar navbar-default" style="background-color:rgb(255, 255, 255);">                        
                <ul class="nav navbar-nav">
                    <li class="active"><a  href="#" ng-click="createWorkOrder()"><i class="glyphicon glyphicon-plus"></i> İŞ EMRİ OLUŞTUR</a></li>
                    <li><a  href="#" ng-click="queryWorkOrder()"><i class="glyphicon glyphicon-search"></i> İŞ EMRİ SORGULA</a></li>                  
                </ul>
            </nav> 
            <div class="panel-group" ng-show="create">
                <div class="panel panel-default">
                    <div class="panel-heading">MÜŞTERİ</div>
                    <div class="panel-body">
                        <div class="col-sm-4">
                            <div class="form-group">                                
                                <input type="text" id="name" name="name" 
                                class="form-control" placeholder="Ad*" ng-model="name_id">
                            </div> 
                            <div class="form-group">                                                            
                                <input type="text" id="phoneNumber_1" name="phoneNumber_1" 
                                class="form-control" placeholder="(___) ___ __ __">
                            </div>  
                        </div>   
                        <div class="col-sm-4">
                            <div class="form-group">                                                                
                                <input type="text" id="surname" name="surname" 
                                class="form-control" placeholder="Soyad*" ng-model="surname_id">
                            </div>                                        
                            <div class="form-group">                                                                
                                <input type="text" id="phoneNumber_2" name="phoneNumber_2" 
                                class="form-control" placeholder="(___) ___ __ __">
                            </div>                                        
                        </div>     
                        <div class="col-sm-4"> 
                            <div class="form-group">                                                                                                
                                <input type="text" id="phoneNumber_3" name="phoneNumber_3" 
                                class="form-control" placeholder="(___) ___ __ __"  ng-model="phone_id">
                            </div>                                                            
                            <div class="form-group">                                                                                                
                                <input type="text" id="email" name="email" 
                                class="form-control" placeholder="E-Posta Adresi" ng-model="email_id"> 
                            </div>   
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">ÜRÜN SEÇİMİ</div>
                    <div class="panel-body">
                        <div class="form-group">                                                                                                                    
                            <select class="form-control" ng-model="singleSelect" ng-change="update()">
                                <option value="">Ürün Seçiniz *</option> 
                                <option ng-repeat="option in data" value="{{option.name}}">{{option.name}}</option>
                            </select>
                        </div>                                                                                                                                                                                                                       
                        <div class="form-group">                                                                                                                                            
                            <select class="form-control">
                                <option value="">İş Emri Türü Seçiniz *</option> 
                                <option ng-repeat="option in workordertype" value="{{option.name}}">{{option.name}}</option>                    
                            </select>
                        </div>
                        <div class="form-group">                                                                                                                                            
                            <select class="form-control">
                                <option value="">Satış Noktası Seçiniz *</option> 
                            </select>
                        </div>                     
                    </div>   
                </div>
            </div>                             
        </div>                           
    </body> 
</html>




