<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/custom.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <script src="lib/angular.min.js"></script>                 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
    <script src="lib/workorder.js"></script>
    <body style="background-color:rgb(255, 255, 255);">
        <div class="container main-section" ng-app="App" ng-controller="Controller">
            <header>
                <div class="row">
                   <div class="col-md-12 col-sm-12 col-xs-12 ">
                        <img src="images/altus-logo-workorder.png" hspace="20">    
                    </div>     
                    <div class="col-md-12 col-sm-12 col-xs-12 ">                                
                        <img src="images/grundig-logo-workorder.png">  
                    </div>                             
                </div>
            </header>                            
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" class="pull-left" ng-click="createWorkOrder()"><img src="images/olustur.png">İŞ EMRİ OLUŞTUR</a></li>
                <li><a data-toggle="tab" class="pull-left" ng-click="queryWorkOrder()"><img src="images/sorgula.png">İŞ EMRİ SORGULA</a></li>                  
            </ul>   
            <div ng-show="create">             
            </div>                 
        </div>                           
    </body> 
</html>




