<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/custom.css">
        <link href="css/styles.css" type="text/css" rel="stylesheet">      
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">  
    </head>    


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-animate.min.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-aria.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.8/angular-material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-leaflet-directive/0.10.0/angular-leaflet-directive.min.js"></script>
    <script src="https://rawgithub.com/angular-ui/angular-ui/master/build/angular-ui.js"></script>

    <script src="lib/mask.js"></script>   
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.9/angular-sanitize.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>    
    <script src="js/dialogs.js"></script>   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
    <script src="angular-route/angular-route.js"></script>        
    <script src="lib/login.js"></script>


    <body style="background-color:#D3D3D3;"  ng-app="App" ng-controller="Controller">
            <div class="container main-section">
                    <div class="row">
                        <div class="col-md-4 col-sm-8 col-xs-12 col-md-offset-4 col-sm-offset-2 login-image-main text-center">
                            <div class="row" align="center">
                                <div class="col-md-12 col-sm-12 col-xs-12 ">
                                    <img vspace="20" src="images/altus-logo.png"> 
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 ">                                        
                                    <img src="images/grundig-logo-2.png">
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 user-welcoming ">
                                    <font face="verdana">Altus ve Grundig İş Emri Girişine Hoşgeldiniz.</font>
                                    <p></p>
                                    <font face="verdana">Şifreniz ile güvenli giriş yapabilirsiniz.</font>
                                </div>  
                                    <div class="col-md-12 col-sm-12 col-xs-12 user-login-box">
                                        <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user" ></i></span>
                                            <input name="username" id="username" class="form-control" placeholder="Kullanıcı Adı" ng-model="username" ng-disabled="ButtonText == 'GİRİŞ YAPILIYOR'" required/>
                                        </div>
                                        <div class="form-group input-group" >
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock" ></i></span>
                                            <input type="password" name="password" id="password" class="form-control" placeholder="Şifre" ng-model="password" ng-disabled="ButtonText == 'GİRİŞ YAPILIYOR'" required/>
                                        </div>
                                        <!--<button type="button" class="btn btn-success" ng-click="register()">Not Registered Yet?</button> -->    
                                        <button type="submit" class="btn btn-primary" ng-click="submit()" ng-disabled="form.$invalid || ButtonText == 'GİRİŞ YAPILIYOR'">
                                            <span ng-show="ButtonText == 'GİRİŞ YAPILIYOR'"><i class="glyphicon glyphicon-refresh spinning"></i></span>
                                            {{ ButtonText }}
                                        </button> 
                                    </div>
                                </form>
                                <div class="col-md-12 col-sm-12 col-xs-12 last-part">
                                    <p>Copyright © 2018 - Arçelik A.Ş. | Tüm Hakları Saklıdır</p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div ng-view></div>                
 <!--       <script src="lib/angular.min.js"></script>  
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
        <script src="lib/login.js"></script>   -->
        
    </body>
</html>