<html>
        <head>
            <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="css/custom.css">
            <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        </head>    
        <body style="background-color:#D3D3D3;" ng-app="App" ng-controller="Controller">
                <div class="container main-section">
                        <div class="row">
                            <div class="col-md-4 col-sm-8 col-xs-12 col-md-offset-4 col-sm-offset-2 login-image-main text-center">
                                <div class="row" align="center">
                                    <div class="col-md-12 col-sm-12 col-xs-12 ">
                                        <img vspace="20" src="images/altus-logo.png"> 
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 ">                                        
                                        <img src="images/grundig-logo-2.png">
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 user-welcoming ">
                                        <p>Kayıt Ekranına Hoşgeldiniz.</p>                                        
                                    </div>  
                                    <form name="form" novalidate>                                        
                                        <div class="col-md-12 col-sm-12 col-xs-12 user-login-box">
                                            <div class="form-group input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil" ></i></span>                                                    
                                                <input type="text" name="first_name" ng-model="first_name" id="first_name_id" class="form-control" placeholder="İsim" required/>
                                            </div>
                                            <div class="form-group input-group" >
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil" ></i></span>                                                                                                        
                                                <input type="text" name="surname" ng-model="surname" id="surname_id" class="form-control" placeholder="Soyisim" required/>
                                            </div>
                                            <div class="form-group input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope" ></i></span>                                                                                                        
                                                <input type="text" name="email" ng-model="email" id="email_id" class="form-control" placeholder="E-Mail" required/>
                                            </div>
                                            <div class="form-group input-group" >
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-phone" ></i></span>       
                                                <input class="form-control" type="text" id="phone_id" name="phone" ng-model="phone" ui-mask="(999) 999-9999" placeholder="(___) ___-____" ui-mask-placeholder-char="-" required/>                                                
                                            </div>
                                            <div class="form-group">                                                
                                                <button type="submit" class="btn btn-primary" ng-click="register()" ng-disabled="form.$invalid">Register</button> 
                                            </div>    
                                            <div class="form-group">                                                                                                
                                                <button type="button" class="btn btn-primary" ng-click="back()">Back</button>     
                                            </div>                                                
                                            </div>                                                  
                                        </div> 
                                    </form>
                                    <div class="col-md-12 col-sm-12 col-xs-12 last-part">
                                        <p>© 2018 Arçelik All rights reserved.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            <script src="lib/angular.min.js"></script>                 
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
            <script src="lib/mask.js"></script>               
            <script>
            var testApp = angular.module("App", ['ui.mask']);
            testApp.controller('Controller' , ['$scope','$window', '$http', function ($scope, $window, $http) {

                $scope.back = function()
                {
                    $http({
                        url: '/home',
                        method: "GET",
                    }). 
                    then(function(data, status) { 
                        var url = "https://thworkorder.azurewebsites.net/home";
                        $window.location = url;
                    });
                }
                $scope.register = function()
                {

                    $scope.jsonData = {
                            "profile": {
                                "firstName": "" + $scope.first_name,
                                "lastName": "" + $scope.surname,
                                "email": "" + $scope.email,
                                "login": "" + $scope.email,
                                "mobilePhone": "" + $scope.phone
                            }
                    }
                            

                    $scope.postData = angular.toJson($scope.jsonData, true);     

                    $http({
                        method: "POST", 
                        url: 'https://thworkorderfapp.azurewebsites.net/okta_create',
                        data: $scope.postData ,
                        headers: {            
                            'Accept': 'application/json',
                            'Content-Type': 'application/json',
                            'Authorization': 'SSWS 00mhP-hnbCzY-FtzKnlls8zQqkdEn-0rlYwdTAvSke'
                        }
                    }) 
                    .then(function(response){ 
                        alert(response);
                        $http({
                            url: '/home',
                            method: "GET",
                        }). 
                        then(function(data, status) { 
                            var url = "https://thworkorder.azurewebsites.net/home";
                            $window.location = url;
                        });

                    });   
                }
            }]);
            </script>
        </body>
    </html>