<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                 http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>BotDetect Captcha</servlet-name>
        <servlet-class>com.captcha.botdetect.web.servlet.SimpleCaptchaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BotDetect Captcha</servlet-name>
        <url-pattern>/botdetectcaptcha</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Basic Captcha</servlet-name>
        <servlet-class>com.captcha.botdetect.examples.angularjs.basic_form.BasicServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Basic Captcha</servlet-name>
        <url-pattern>/basic-captcha</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Contact Captcha</servlet-name>
        <servlet-class>com.captcha.botdetect.examples.angular.contact_form.ContactServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Contact Captcha</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
